<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <h1>
     <ul>
      <p align="middle">Team Name: <%=@name%></p></h1>
    <h2> <p align="middle">Coach: <%=@coach%></p>
    <p align="middle">Point Guard: <%=@pg%></p>
    <p align="middle">Shooting Guard: <%=@sg%></p>
    <p align="middle">Small Forward: <%=@sf%></p>
    <p align="middle">Power Forward: <%=@pf%></p>
    <p align="middle">Center: <%=@c%></p></h2>
  </ul>
 </body>
</html>
